.blog {
    background-color: green;
    font-family: sans-serif;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-left: 5px;
    padding-top: 0px;
}
.links {
    background-color: gray;
    font-family: sans-serif;
    padding: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.golfph {
    width: 20%;
    display: flex;    
    float: left;
    padding-right: 10px;
}
.grumpycat {
    width: 50vw;
}
.grumpycat2 {
    width: 480px;
}
@media(max-width: 1034px) {
    .grumpycat2 {
        width: 350px;
    }
}

/* For Blog 5 */
html, body, .holster {
    height: 70%;
}
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
}
  
.container {
    display: flex;
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
}

.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
}

.x.mandatory-scroll-snapping {
     scroll-snap-type: none;
}


.container.x {
    width: 100%;
    height: 128px;
    flex-flow: row nowrap;
}
  
.container.y {
    width: 256px;
    height: 256px;
    flex-flow: column nowrap;
}

.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
}
  
.container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
}
  
.x.container > div {
    line-height: 128px;
    font-size: 64px;
    width: 100%;
    height: 128px;
}
  
.y.container > div {
    line-height: 256px;
    font-size: 128px;
    width: 256px;
    height: 80%;
}
  
.y.container > div:first-child {
    line-height: 1.3;
    font-size: 64px;
}

.container > div:nth-child(even) {
    background-color: #87EA87;
}
  
.container > div:nth-child(odd) {
    background-color: #87CCEA;
}

